# 处理丢失数据

有两种丢失数据：
- None
- np.nan(NaN)

In [1]:
# 数据清洗
import pandas as pd

from pandas import Series,DataFrame

import numpy as np

In [2]:
df = DataFrame(np.random.randint(0,150,size = (150,3)),columns=['Python','Math','En'])
df

     Python  Math   En
0        16    23  142
1         1   115  136
2        58   104  130
3        26    76  145
4        30   109  120
5        38    81   39
6        82    60  125
7       124    90  136
8       129    16  111
9        86    26   46
10       87    68   64
11      100   119   13
12       74     2   17
13      129   119  111
14       25    86   40
15       45    12   24
16      137    84   86
17      144    96   19
18      108    51  104
19       36   135   86
20       94    69   30
21      101   143   89
22      111   137    2
23       92    21   62
24      124    91   19
25      128    53  122
26       86    20   50
27       14   136   98
28      110     4   23
29       60    98  129
..      ...   ...  ...
120     101    80  120
121     119   125   55
122     121    62   54
123       9    78   66
124      56     8   82
125      98    98   28
126      77   120   60
127      22   137   27
128     149   144   71
129      99   141   20
130      57    41  133
131      24    25  120
132     129    46   76
133       9    64   91
134      65     0  111
135      98   133   23
136     106    98  109
137      78    67   25
138      22    33   36
139     125   137   15
140      33   145  110
141      60    69   55
142      35    32   90
143      27    53   46
144      12    15    7
145     130    59  121
146     149    47   34
147      11   116  127
148     139    29    2
149      40    12  134

[150 rows x 3 columns]

In [3]:
for i in range(15):
    index = np.random.randint(0,150,size = 1)[0]
    column = np.random.randint(0,3,size = 1)[0]
    df.iloc[index,column] = None

In [4]:
df

     Python   Math     En
0      16.0   23.0  142.0
1       1.0  115.0  136.0
2      58.0  104.0  130.0
3      26.0   76.0  145.0
4      30.0  109.0  120.0
5      38.0   81.0   39.0
6      82.0   60.0    NaN
7     124.0   90.0  136.0
8     129.0   16.0  111.0
9      86.0   26.0   46.0
10     87.0   68.0   64.0
11    100.0  119.0   13.0
12     74.0    2.0   17.0
13    129.0  119.0  111.0
14     25.0   86.0   40.0
15      NaN   12.0   24.0
16    137.0   84.0   86.0
17    144.0   96.0   19.0
18    108.0   51.0  104.0
19     36.0  135.0   86.0
20     94.0   69.0   30.0
21    101.0  143.0   89.0
22    111.0  137.0    2.0
23     92.0   21.0   62.0
24    124.0   91.0   19.0
25    128.0   53.0  122.0
26     86.0   20.0   50.0
27     14.0  136.0   98.0
28    110.0    4.0   23.0
29     60.0   98.0  129.0
..      ...    ...    ...
120   101.0   80.0  120.0
121   119.0  125.0   55.0
122   121.0   62.0   54.0
123     9.0   78.0   66.0
124    56.0    8.0   82.0
125    98.0   98.0   28.0
126    77.0  120.0   60.0
127    22.0    NaN   27.0
128   149.0  144.0   71.0
129    99.0  141.0   20.0
130    57.0   41.0  133.0
131    24.0   25.0  120.0
132   129.0   46.0   76.0
133     NaN   64.0   91.0
134    65.0    0.0  111.0
135    98.0  133.0   23.0
136   106.0   98.0  109.0
137    78.0   67.0   25.0
138    22.0   33.0   36.0
139   125.0  137.0   15.0
140    33.0    NaN  110.0
141    60.0   69.0   55.0
142    35.0   32.0   90.0
143    27.0   53.0   46.0
144    12.0   15.0    NaN
145   130.0   59.0    NaN
146   149.0   47.0   34.0
147    11.0  116.0  127.0
148   139.0   29.0    2.0
149    40.0   12.0  134.0

[150 rows x 3 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 3 columns):
Python    146 non-null float64
Math      144 non-null float64
En        145 non-null float64
dtypes: float64(3)
memory usage: 3.6 KB

In [9]:
cond = df.isnull().any(axis = 1)
df[cond]

     Python   Math     En
6      82.0   60.0    NaN
15      NaN   12.0   24.0
35      NaN  136.0   74.0
38    103.0    NaN  131.0
47    139.0    NaN    3.0
63     89.0    NaN   41.0
65     87.0  145.0    NaN
82      NaN  119.0    NaN
108   147.0    NaN   35.0
127    22.0    NaN   27.0
133     NaN   64.0   91.0
140    33.0    NaN  110.0
144    12.0   15.0    NaN
145   130.0   59.0    NaN

In [12]:
# 非空数据
cond = df.notnull().all(axis = 1)

df[cond]

     Python   Math     En
0      16.0   23.0  142.0
1       1.0  115.0  136.0
2      58.0  104.0  130.0
3      26.0   76.0  145.0
4      30.0  109.0  120.0
5      38.0   81.0   39.0
7     124.0   90.0  136.0
8     129.0   16.0  111.0
9      86.0   26.0   46.0
10     87.0   68.0   64.0
11    100.0  119.0   13.0
12     74.0    2.0   17.0
13    129.0  119.0  111.0
14     25.0   86.0   40.0
16    137.0   84.0   86.0
17    144.0   96.0   19.0
18    108.0   51.0  104.0
19     36.0  135.0   86.0
20     94.0   69.0   30.0
21    101.0  143.0   89.0
22    111.0  137.0    2.0
23     92.0   21.0   62.0
24    124.0   91.0   19.0
25    128.0   53.0  122.0
26     86.0   20.0   50.0
27     14.0  136.0   98.0
28    110.0    4.0   23.0
29     60.0   98.0  129.0
30    147.0   97.0   37.0
31    136.0  127.0   21.0
..      ...    ...    ...
115   127.0  117.0  118.0
116   119.0   85.0    4.0
117   138.0   30.0  100.0
118   107.0   14.0   23.0
119     1.0  111.0   50.0
120   101.0   80.0  120.0
121   119.0  125.0   55.0
122   121.0   62.0   54.0
123     9.0   78.0   66.0
124    56.0    8.0   82.0
125    98.0   98.0   28.0
126    77.0  120.0   60.0
128   149.0  144.0   71.0
129    99.0  141.0   20.0
130    57.0   41.0  133.0
131    24.0   25.0  120.0
132   129.0   46.0   76.0
134    65.0    0.0  111.0
135    98.0  133.0   23.0
136   106.0   98.0  109.0
137    78.0   67.0   25.0
138    22.0   33.0   36.0
139   125.0  137.0   15.0
141    60.0   69.0   55.0
142    35.0   32.0   90.0
143    27.0   53.0   46.0
146   149.0   47.0   34.0
147    11.0  116.0  127.0
148   139.0   29.0    2.0
149    40.0   12.0  134.0

[136 rows x 3 columns]

In [13]:
df.dropna()

     Python   Math     En
0      16.0   23.0  142.0
1       1.0  115.0  136.0
2      58.0  104.0  130.0
3      26.0   76.0  145.0
4      30.0  109.0  120.0
5      38.0   81.0   39.0
7     124.0   90.0  136.0
8     129.0   16.0  111.0
9      86.0   26.0   46.0
10     87.0   68.0   64.0
11    100.0  119.0   13.0
12     74.0    2.0   17.0
13    129.0  119.0  111.0
14     25.0   86.0   40.0
16    137.0   84.0   86.0
17    144.0   96.0   19.0
18    108.0   51.0  104.0
19     36.0  135.0   86.0
20     94.0   69.0   30.0
21    101.0  143.0   89.0
22    111.0  137.0    2.0
23     92.0   21.0   62.0
24    124.0   91.0   19.0
25    128.0   53.0  122.0
26     86.0   20.0   50.0
27     14.0  136.0   98.0
28    110.0    4.0   23.0
29     60.0   98.0  129.0
30    147.0   97.0   37.0
31    136.0  127.0   21.0
..      ...    ...    ...
115   127.0  117.0  118.0
116   119.0   85.0    4.0
117   138.0   30.0  100.0
118   107.0   14.0   23.0
119     1.0  111.0   50.0
120   101.0   80.0  120.0
121   119.0  125.0   55.0
122   121.0   62.0   54.0
123     9.0   78.0   66.0
124    56.0    8.0   82.0
125    98.0   98.0   28.0
126    77.0  120.0   60.0
128   149.0  144.0   71.0
129    99.0  141.0   20.0
130    57.0   41.0  133.0
131    24.0   25.0  120.0
132   129.0   46.0   76.0
134    65.0    0.0  111.0
135    98.0  133.0   23.0
136   106.0   98.0  109.0
137    78.0   67.0   25.0
138    22.0   33.0   36.0
139   125.0  137.0   15.0
141    60.0   69.0   55.0
142    35.0   32.0   90.0
143    27.0   53.0   46.0
146   149.0   47.0   34.0
147    11.0  116.0  127.0
148   139.0   29.0    2.0
149    40.0   12.0  134.0

[136 rows x 3 columns]

In [14]:
df

     Python   Math     En
0      16.0   23.0  142.0
1       1.0  115.0  136.0
2      58.0  104.0  130.0
3      26.0   76.0  145.0
4      30.0  109.0  120.0
5      38.0   81.0   39.0
6      82.0   60.0    NaN
7     124.0   90.0  136.0
8     129.0   16.0  111.0
9      86.0   26.0   46.0
10     87.0   68.0   64.0
11    100.0  119.0   13.0
12     74.0    2.0   17.0
13    129.0  119.0  111.0
14     25.0   86.0   40.0
15      NaN   12.0   24.0
16    137.0   84.0   86.0
17    144.0   96.0   19.0
18    108.0   51.0  104.0
19     36.0  135.0   86.0
20     94.0   69.0   30.0
21    101.0  143.0   89.0
22    111.0  137.0    2.0
23     92.0   21.0   62.0
24    124.0   91.0   19.0
25    128.0   53.0  122.0
26     86.0   20.0   50.0
27     14.0  136.0   98.0
28    110.0    4.0   23.0
29     60.0   98.0  129.0
..      ...    ...    ...
120   101.0   80.0  120.0
121   119.0  125.0   55.0
122   121.0   62.0   54.0
123     9.0   78.0   66.0
124    56.0    8.0   82.0
125    98.0   98.0   28.0
126    77.0  120.0   60.0
127    22.0    NaN   27.0
128   149.0  144.0   71.0
129    99.0  141.0   20.0
130    57.0   41.0  133.0
131    24.0   25.0  120.0
132   129.0   46.0   76.0
133     NaN   64.0   91.0
134    65.0    0.0  111.0
135    98.0  133.0   23.0
136   106.0   98.0  109.0
137    78.0   67.0   25.0
138    22.0   33.0   36.0
139   125.0  137.0   15.0
140    33.0    NaN  110.0
141    60.0   69.0   55.0
142    35.0   32.0   90.0
143    27.0   53.0   46.0
144    12.0   15.0    NaN
145   130.0   59.0    NaN
146   149.0   47.0   34.0
147    11.0  116.0  127.0
148   139.0   29.0    2.0
149    40.0   12.0  134.0

[150 rows x 3 columns]

In [16]:
df.drop(labels=['En'],axis = 1)

     Python   Math
0      16.0   23.0
1       1.0  115.0
2      58.0  104.0
3      26.0   76.0
4      30.0  109.0
5      38.0   81.0
6      82.0   60.0
7     124.0   90.0
8     129.0   16.0
9      86.0   26.0
10     87.0   68.0
11    100.0  119.0
12     74.0    2.0
13    129.0  119.0
14     25.0   86.0
15      NaN   12.0
16    137.0   84.0
17    144.0   96.0
18    108.0   51.0
19     36.0  135.0
20     94.0   69.0
21    101.0  143.0
22    111.0  137.0
23     92.0   21.0
24    124.0   91.0
25    128.0   53.0
26     86.0   20.0
27     14.0  136.0
28    110.0    4.0
29     60.0   98.0
..      ...    ...
120   101.0   80.0
121   119.0  125.0
122   121.0   62.0
123     9.0   78.0
124    56.0    8.0
125    98.0   98.0
126    77.0  120.0
127    22.0    NaN
128   149.0  144.0
129    99.0  141.0
130    57.0   41.0
131    24.0   25.0
132   129.0   46.0
133     NaN   64.0
134    65.0    0.0
135    98.0  133.0
136   106.0   98.0
137    78.0   67.0
138    22.0   33.0
139   125.0  137.0
140    33.0    NaN
141    60.0   69.0
142    35.0   32.0
143    27.0   53.0
144    12.0   15.0
145   130.0   59.0
146   149.0   47.0
147    11.0  116.0
148   139.0   29.0
149    40.0   12.0

[150 rows x 2 columns]

In [17]:
df

     Python   Math     En
0      16.0   23.0  142.0
1       1.0  115.0  136.0
2      58.0  104.0  130.0
3      26.0   76.0  145.0
4      30.0  109.0  120.0
5      38.0   81.0   39.0
6      82.0   60.0    NaN
7     124.0   90.0  136.0
8     129.0   16.0  111.0
9      86.0   26.0   46.0
10     87.0   68.0   64.0
11    100.0  119.0   13.0
12     74.0    2.0   17.0
13    129.0  119.0  111.0
14     25.0   86.0   40.0
15      NaN   12.0   24.0
16    137.0   84.0   86.0
17    144.0   96.0   19.0
18    108.0   51.0  104.0
19     36.0  135.0   86.0
20     94.0   69.0   30.0
21    101.0  143.0   89.0
22    111.0  137.0    2.0
23     92.0   21.0   62.0
24    124.0   91.0   19.0
25    128.0   53.0  122.0
26     86.0   20.0   50.0
27     14.0  136.0   98.0
28    110.0    4.0   23.0
29     60.0   98.0  129.0
..      ...    ...    ...
120   101.0   80.0  120.0
121   119.0  125.0   55.0
122   121.0   62.0   54.0
123     9.0   78.0   66.0
124    56.0    8.0   82.0
125    98.0   98.0   28.0
126    77.0  120.0   60.0
127    22.0    NaN   27.0
128   149.0  144.0   71.0
129    99.0  141.0   20.0
130    57.0   41.0  133.0
131    24.0   25.0  120.0
132   129.0   46.0   76.0
133     NaN   64.0   91.0
134    65.0    0.0  111.0
135    98.0  133.0   23.0
136   106.0   98.0  109.0
137    78.0   67.0   25.0
138    22.0   33.0   36.0
139   125.0  137.0   15.0
140    33.0    NaN  110.0
141    60.0   69.0   55.0
142    35.0   32.0   90.0
143    27.0   53.0   46.0
144    12.0   15.0    NaN
145   130.0   59.0    NaN
146   149.0   47.0   34.0
147    11.0  116.0  127.0
148   139.0   29.0    2.0
149    40.0   12.0  134.0

[150 rows x 3 columns]

In [21]:
cond = df.isnull().any(axis = 1)
index = df[cond].index
index

Int64Index([6, 15, 35, 38, 47, 63, 65, 82, 108, 127, 133, 140, 144, 145], dtype='int64')

In [23]:
df2 = df.drop(labels=index)
df2

     Python   Math     En
0      16.0   23.0  142.0
1       1.0  115.0  136.0
2      58.0  104.0  130.0
3      26.0   76.0  145.0
4      30.0  109.0  120.0
5      38.0   81.0   39.0
7     124.0   90.0  136.0
8     129.0   16.0  111.0
9      86.0   26.0   46.0
10     87.0   68.0   64.0
11    100.0  119.0   13.0
12     74.0    2.0   17.0
13    129.0  119.0  111.0
14     25.0   86.0   40.0
16    137.0   84.0   86.0
17    144.0   96.0   19.0
18    108.0   51.0  104.0
19     36.0  135.0   86.0
20     94.0   69.0   30.0
21    101.0  143.0   89.0
22    111.0  137.0    2.0
23     92.0   21.0   62.0
24    124.0   91.0   19.0
25    128.0   53.0  122.0
26     86.0   20.0   50.0
27     14.0  136.0   98.0
28    110.0    4.0   23.0
29     60.0   98.0  129.0
30    147.0   97.0   37.0
31    136.0  127.0   21.0
..      ...    ...    ...
115   127.0  117.0  118.0
116   119.0   85.0    4.0
117   138.0   30.0  100.0
118   107.0   14.0   23.0
119     1.0  111.0   50.0
120   101.0   80.0  120.0
121   119.0  125.0   55.0
122   121.0   62.0   54.0
123     9.0   78.0   66.0
124    56.0    8.0   82.0
125    98.0   98.0   28.0
126    77.0  120.0   60.0
128   149.0  144.0   71.0
129    99.0  141.0   20.0
130    57.0   41.0  133.0
131    24.0   25.0  120.0
132   129.0   46.0   76.0
134    65.0    0.0  111.0
135    98.0  133.0   23.0
136   106.0   98.0  109.0
137    78.0   67.0   25.0
138    22.0   33.0   36.0
139   125.0  137.0   15.0
141    60.0   69.0   55.0
142    35.0   32.0   90.0
143    27.0   53.0   46.0
146   149.0   47.0   34.0
147    11.0  116.0  127.0
148   139.0   29.0    2.0
149    40.0   12.0  134.0

[136 rows x 3 columns]

In [27]:
cond = (df2 < 60).any(axis = 1)

index = df2[cond].index

df2.drop(labels=index)

     Python   Math     En
7     124.0   90.0  136.0
10     87.0   68.0   64.0
13    129.0  119.0  111.0
16    137.0   84.0   86.0
21    101.0  143.0   89.0
29     60.0   98.0  129.0
40     75.0  146.0   64.0
41    139.0   78.0  149.0
43     89.0  100.0  121.0
44    133.0   92.0   88.0
46    144.0  132.0  136.0
52     70.0  105.0   95.0
56     67.0   72.0   72.0
70    107.0  117.0  109.0
81    102.0  131.0   89.0
84    139.0   70.0  122.0
86     61.0  137.0  111.0
93    142.0   97.0  120.0
94    115.0  138.0   95.0
96    118.0  139.0  130.0
107    73.0  146.0   64.0
111   104.0  149.0   75.0
114   121.0  141.0   96.0
115   127.0  117.0  118.0
120   101.0   80.0  120.0
126    77.0  120.0   60.0
128   149.0  144.0   71.0
136   106.0   98.0  109.0

In [32]:
# 平均分小于60进行过滤
cond = df2.mean(axis = 1) < 90

index = df2[cond].index
df2.drop(index)

     Python   Math     En
2      58.0  104.0  130.0
7     124.0   90.0  136.0
13    129.0  119.0  111.0
16    137.0   84.0   86.0
21    101.0  143.0   89.0
25    128.0   53.0  122.0
29     60.0   98.0  129.0
30    147.0   97.0   37.0
31    136.0  127.0   21.0
40     75.0  146.0   64.0
41    139.0   78.0  149.0
43     89.0  100.0  121.0
44    133.0   92.0   88.0
46    144.0  132.0  136.0
52     70.0  105.0   95.0
54     45.0  131.0  116.0
67    142.0    5.0  149.0
70    107.0  117.0  109.0
73    132.0  107.0   50.0
79    133.0   51.0   92.0
81    102.0  131.0   89.0
84    139.0   70.0  122.0
86     61.0  137.0  111.0
88    148.0   52.0   96.0
93    142.0   97.0  120.0
94    115.0  138.0   95.0
96    118.0  139.0  130.0
99    124.0  117.0   39.0
102   148.0   12.0  127.0
107    73.0  146.0   64.0
111   104.0  149.0   75.0
114   121.0  141.0   96.0
115   127.0  117.0  118.0
120   101.0   80.0  120.0
121   119.0  125.0   55.0
128   149.0  144.0   71.0
136   106.0   98.0  109.0
139   125.0  137.0   15.0

In [35]:
# 小于60，大于100分
cond1 = df2.mean(axis = 1)< 60 
cond1

0      False
1      False
2      False
3      False
4      False
5       True
7      False
8      False
9       True
10     False
11     False
12      True
13     False
14      True
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23      True
24     False
25     False
26      True
27     False
28      True
29     False
30     False
31     False
       ...
115    False
116    False
117    False
118     True
119     True
120    False
121    False
122    False
123     True
124     True
125    False
126    False
128    False
129    False
130    False
131     True
132    False
134     True
135    False
136    False
137     True
138     True
139    False
141    False
142     True
143     True
146    False
147    False
148     True
149    False
Length: 136, dtype: bool

In [36]:
cond2 = df2.mean(axis = 1) > 100
cond2

0      False
1      False
2      False
3      False
4      False
5      False
7       True
8      False
9      False
10     False
11     False
12     False
13      True
14     False
16      True
17     False
18     False
19     False
20     False
21      True
22     False
23     False
24     False
25      True
26     False
27     False
28     False
29     False
30     False
31     False
       ...
115     True
116    False
117    False
118    False
119    False
120     True
121    False
122    False
123    False
124    False
125    False
126    False
128     True
129    False
130    False
131    False
132    False
134    False
135    False
136     True
137    False
138    False
139    False
141    False
142    False
143    False
146    False
147    False
148    False
149    False
Length: 136, dtype: bool

In [40]:
# 或运算
cond = cond1|cond2

df2[cond]

     Python   Math     En
5      38.0   81.0   39.0
7     124.0   90.0  136.0
9      86.0   26.0   46.0
12     74.0    2.0   17.0
13    129.0  119.0  111.0
14     25.0   86.0   40.0
16    137.0   84.0   86.0
21    101.0  143.0   89.0
23     92.0   21.0   62.0
25    128.0   53.0  122.0
26     86.0   20.0   50.0
28    110.0    4.0   23.0
34     56.0   67.0   56.0
39      4.0   47.0   66.0
41    139.0   78.0  149.0
43     89.0  100.0  121.0
44    133.0   92.0   88.0
45     89.0    0.0   25.0
46    144.0  132.0  136.0
48     35.0  113.0    9.0
49     19.0   30.0   78.0
53     71.0   22.0   16.0
55    114.0   29.0   20.0
57     40.0   20.0  108.0
60     59.0   32.0   21.0
62     61.0   40.0    8.0
66      5.0    1.0   38.0
68     17.0   87.0   24.0
70    107.0  117.0  109.0
72     38.0    1.0   96.0
77     34.0    3.0  142.0
81    102.0  131.0   89.0
83    102.0   15.0   58.0
84    139.0   70.0  122.0
85    104.0    8.0   19.0
86     61.0  137.0  111.0
87      7.0   65.0   79.0
89     43.0   25.0   95.0
93    142.0   97.0  120.0
94    115.0  138.0   95.0
96    118.0  139.0  130.0
111   104.0  149.0   75.0
113    91.0   16.0   22.0
114   121.0  141.0   96.0
115   127.0  117.0  118.0
118   107.0   14.0   23.0
119     1.0  111.0   50.0
120   101.0   80.0  120.0
123     9.0   78.0   66.0
124    56.0    8.0   82.0
128   149.0  144.0   71.0
131    24.0   25.0  120.0
134    65.0    0.0  111.0
136   106.0   98.0  109.0
137    78.0   67.0   25.0
138    22.0   33.0   36.0
142    35.0   32.0   90.0
143    27.0   53.0   46.0
148   139.0   29.0    2.0

## 1. None

None是Python自带的，其类型为python object。因此，None不能参与到任何计算中。

object类型的运算要比int类型的运算慢得多  
计算不同数据类型求和时间  
%timeit np.arange(1e5,dtype=xxx).sum()

## 2. np.nan（NaN）

np.nan是浮点类型，能参与到计算中。但计算的结果总是NaN。

但可以使用np.nan*()函数来计算nan，此时视nan为0。

In [41]:
df = DataFrame(np.random.randint(0,150,size = (5,3)),columns=['Python','En','Math'])
df

   Python  En  Math
0      50   6    29
1      12  21    56
2     128  96    52
3      23  78   143
4      67   5    51

In [42]:
df['Python'][0] = None

df['En'][3] = np.NaN

D:\Anaconda3.5.2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\Anaconda3.5.2\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [43]:
df

   Python    En  Math
0     NaN   6.0    29
1    12.0  21.0    56
2   128.0  96.0    52
3    23.0   NaN   143
4    67.0   5.0    51

In [44]:
np.NaN + 10

nan

In [45]:
None + 10

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [46]:
type(np.NaN)

float

## 3. pandas中的None与NaN

### 1) pandas中None与np.nan都视作np.nan

创建DataFrame

使用DataFrame行索引与列索引修改DataFrame数据

### 2) pandas中None与np.nan的操作

- ``isnull()``
- ``notnull()``
- ``dropna()``: 过滤丢失数据
- ``fillna()``: 填充丢失数据

(1)判断函数
- ``isnull()``
- ``notnull()``

(2) 过滤函数
- ``dropna()``

可以选择过滤的是行还是列（默认为行）

也可以选择过滤的方式 how = 'all'

(3) 填充函数 Series/DataFrame
- ``fillna()``

In [48]:
df.fillna(60)

   Python    En  Math
0    60.0   6.0    29
1    12.0  21.0    56
2   128.0  96.0    52
3    23.0  60.0   143
4    67.0   5.0    51

In [49]:
df.fillna(value = df.mean())

   Python    En  Math
0    57.5   6.0    29
1    12.0  21.0    56
2   128.0  96.0    52
3    23.0  32.0   143
4    67.0   5.0    51

In [50]:
# 中位数，
df.fillna(value=df.median())

   Python    En  Math
0    45.0   6.0    29
1    12.0  21.0    56
2   128.0  96.0    52
3    23.0  13.5   143
4    67.0   5.0    51

可以选择前向填充还是后向填充

In [55]:
'''method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
    Method to use for filling holes in reindexed Series
    pad / ffill: propagate last valid observation forward to next valid
    backfill / bfill: use NEXT valid observation to fill gap'''
df.fillna(method='pad',axis = 1)

   Python    En   Math
0     NaN   6.0   29.0
1    12.0  21.0   56.0
2   128.0  96.0   52.0
3    23.0  23.0  143.0
4    67.0   5.0   51.0

对于DataFrame来说，还要选择填充的轴axis。记住，对于DataFrame来说：

- axis=0：index/行
- axis=1：columns/列

============================================

练习7：

1. 简述None与NaN的区别

2. 假设张三李四参加模拟考试，但张三因为突然想明白人生放弃了英语考试，因此记为None，请据此创建一个DataFrame,命名为ddd3

3. 老师决定根据用数学的分数填充张三的英语成绩，如何实现？
    用李四的英语成绩填充张三的英语成绩？

============================================